In [1]:
from datetime import datetime

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv('2014_to_march2020_btc_minutes_data')
df.shape

(2602679, 6)

In [4]:
df.head()

                  time    open   close    high     low    volume
0  2014-01-01 08:01:00  746.99  747.00  747.00  746.99  2.000000
1  2014-01-01 08:02:00  743.89  744.89  744.89  743.89  0.020695
2  2014-01-01 08:04:00  745.01  745.00  745.01  745.00  0.900000
3  2014-01-01 08:05:00  747.00  747.30  747.30  747.00  2.500000
4  2014-01-01 08:07:00  744.87  744.87  744.87  744.87  1.230769

In [5]:
def labelling(df, col_idx, window=11):
    """
    Takes a pandas dataframe, sliding window size (default=11), and column index for 'close'
    
    GOAL: create a slidding window, check the middle value of the window, if its the window min() = BUY
    if its the window max() = SELL, otherwise = HOLD. Over the time period of the window find local peaks
    and troughs which would be "BUY" and "SELL" signals.
    
    df: Pandas DataFrame, should have open, close, high, low, and volumn but must have close
    window: int, number of periods used to create the sliding window
    col_idx: int, index number of 'close' column
    
    return: Pandas DataFrame with new column 'labels' which has "BUY", "SELL", and "HOLD" values
    """
    
    # set up the sliding window, mid point, column index, and end value of for loop
    period = int(window)
    mid_point = int((period)/ 2)
    close_col = int(col_idx)
    end = len(df)

    # get start time and print out starting message
    start_time = datetime.now()
    print("starting to label the data")

    # loop through dataframe
    for i in range(end):
        # if window would extend out of index of dataframe pass
        if (i + period) > end:
            pass
        
        else:
            # create window, locate closing price at mid point index
            window = df.iloc[i:i+period, close_col]
            mid_price = df.iat[i+mid_point, close_col]
            
            # use window and mid point to update 'label' column with correct value
            # 1 = BUY, 2 = SELL, 0 = HOLD
            if window.min() == mid_price:
                df.at[i+mid_point, 'label'] = 1
            elif window.max() == mid_price:
                df.at[i+mid_point, 'label'] = 2
            else:
                df.at[i+mid_point, 'label'] = 0
                
    # get ending time and print out duration
    end_time = datetime.now()
    print('Duration: {}'.format(end_time - start_time))
    
    # return dataframe with labels
    return df

In [6]:
df = labelling(df, 2, 21)
df.head(10)

starting to label the data
Duration: 0:07:19.335700

                  time    open   close    high     low    volume  label
0  2014-01-01 08:01:00  746.99  747.00  747.00  746.99  2.000000    NaN
1  2014-01-01 08:02:00  743.89  744.89  744.89  743.89  0.020695    NaN
2  2014-01-01 08:04:00  745.01  745.00  745.01  745.00  0.900000    NaN
3  2014-01-01 08:05:00  747.00  747.30  747.30  747.00  2.500000    NaN
4  2014-01-01 08:07:00  744.87  744.87  744.87  744.87  1.230769    NaN
5  2014-01-01 08:08:00  744.84  744.87  744.87  744.84  0.371690    NaN
6  2014-01-01 08:10:00  744.84  744.84  744.84  744.84  0.090297    NaN
7  2014-01-01 08:12:00  744.00  744.50  744.50  744.00  4.963859    NaN
8  2014-01-01 08:13:00  744.84  744.50  744.84  744.17  0.959867    NaN
9  2014-01-01 08:14:00  744.17  744.17  744.17  744.17  0.047933    NaN

In [9]:
df.tail(50)

,time,open,close,high,low,volume,label
2602629,2020-03-26 01:22:00,6709.800000,6701.100000,6709.800000,6701.100000,0.440426,0.0
2602630,2020-03-26 01:23:00,6701.100000,6692.300000,6701.100000,6692.237573,1.515540,0.0
2602631,2020-03-26 01:24:00,6692.237573,6691.400000,6692.281604,6691.400000,0.577485,0.0
2602632,2020-03-26 01:25:00,6691.400000,6691.300000,6691.400000,6691.300000,0.034365,0.0
2602633,2020-03-26 01:26:00,6691.300000,6690.900000,6691.300000,6690.800000,5.696100,1.0
2602634,2020-03-26 01:27:00,6692.000000,6700.962864,6703.200000,6692.000000,0.901172,0.0
2602635,2020-03-26 01:28:00,6700.962864,6697.362307,6700.962864,6697.362307,0.022923,0.0
2602636,2020-03-26 01:29:00,6697.362307,6710.000000,6710.000000,6697.362307,3.884179,0.0
2602637,2020-03-26 01:30:00,6705.100000,6715.000000,6715.600000,6705.100000,7.967836,0.0
2602638,2020-03-26 01:31:00,6715.000000,6716.900000,6717.000000,6715.000000,0.497144,0.0
2602639,2020-03-26 01:32:00,6717.000000,6717.000000,6717.000000,6716.900000,1.270737,2.0
2602640,2020-03-26 01:33:00,6717.000000,6716.900000,6717.000000,6716.900000,0.471693,0.0
2602641,2020-03-26 01:34:00,6716.900000,6717.000000,6717.000000,6716.900000,0.028258,0.0
2602642,2020-03-26 01:35:00,6717.000000,6717.000000,6717.000000,6716.900000,0.032816,0.0
2602643,2020-03-26 01:36:00,6717.000000,6716.926437,6717.000000,6716.900000,0.117117,0.0
2602644,2020-03-26 01:37:00,6716.900000,6717.000000,6717.000000,6716.900000,0.128062,0.0
2602645,2020-03-26 01:38:00,6716.900000,6716.900000,6717.000000,6716.900000,0.710014,0.0
2602646,2020-03-26 01:39:00,6716.900000,6716.926437,6716.926437,6716.900000,0.031588,0.0
2602647,2020-03-26 01:40:00,6716.900000,6717.000000,6717.000000,6716.900000,0.068252,0.0
2602648,2020-03-26 01:41:00,6716.900000,6714.000000,6716.900000,6705.000000,1.189435,0.0
2602649,2020-03-26 01:42:00,6717.000000,6717.000000,6717.000000,6716.300000,1.008817,0.0
2602650,2020-03-26 01:43:00,6717.700000,6717.065091,6717.800000,6717.000000,0.184054,0.0
2602651,2020-03-26 01:44:00,6717.100000,6718.700000,6720.900000,6717.100000,0.160834,0.0
2602652,2020-03-26 01:45:00,6719.400000,6720.100000,6729.100000,6719.400000,1.323421,2.0
2602653,2020-03-26 01:46:00,6718.000000,6716.500000,6724.800000,6716.500000,0.104762,0.0
2602654,2020-03-26 01:47:00,6713.900000,6708.400000,6713.900000,6708.400000,0.168106,0.0
2602655,2020-03-26 01:48:00,6708.421409,6708.094291,6708.439262,6708.000000,0.665672,0.0
2602656,2020-03-26 01:49:00,6708.000000,6707.300000,6708.000000,6707.300000,0.351251,0.0
2602657,2020-03-26 01:50:00,6702.100000,6701.900000,6702.100000,6701.800000,0.591334,0.0
2602658,2020-03-26 01:51:00,6701.900000,6701.900000,6701.900000,6701.800000,1.908669,0.0
2602659,2020-03-26 01:52:00,6701.800000,6702.000000,6707.300000,6701.800000,3.694166,0.0
2602660,2020-03-26 01:53:00,6701.900000,6701.800000,6701.900000,6701.800000,0.574614,0.0
2602661,2020-03-26 01:54:00,6701.800000,6701.800000,6701.900000,6701.800000,0.424323,0.0
2602662,2020-03-26 01:55:00,6701.892962,6702.000000,6706.400000,6701.892962,0.070605,0.0
2602663,2020-03-26 01:56:00,6701.900000,6695.700000,6701.900000,6694.400000,0.379650,1.0
2602664,2020-03-26 01:57:00,6695.400000,6700.000000,6701.200000,6695.400000,1.295703,0.0
2602665,2020-03-26 01:58:00,6699.900000,6701.400000,6702.887375,6697.000000,6.984379,0.0
2602666,2020-03-26 01:59:00,6702.600000,6702.411916,6702.600000,6701.300000,0.350207,0.0
2602667,2020-03-26 02:00:00,6704.696064,6704.600000,6704.700000,6704.600000,0.476056,0.0
2602668,2020-03-26 02:01:00,6704.700000,6703.900000,6704.700000,6703.900000,0.169238,0.0
2602669,2020-03-26 02:02:00,6703.900000,6703.300000,6704.000000,6701.800000,1.072065,NaN
2602670,2020-03-26 02:03:00,6703.200000,6706.900000,6707.000000,6703.200000,0.029335,NaN
2602671,2020-03-26 02:04:00,6707.000000,6703.980099,6707.000000,6703.800000,0.625943,NaN
2602672,2020-03-26 02:05:00,6704.100000,6702.800000,6707.500000,6701.300000,0.545650,NaN
2602673,2020-03-26 02:06:00,6705.400000,6700.400000,6705.400000,6700.100000,0.047511,NaN
2602674,2020-03-26 02:07:00,6700.400000,6700.000000,6700.400000,6700.000000,0.440617,NaN
2602675,2020-03-26 02:08:00,6700.000000,6681.500000,6700.008115,6675.100000,20.049320,NaN
2602676,2020-03-26 02:09:00,6681.400000,6677.900000,6681.400000,6676.100000,0.502999,NaN
2602677,2020-03-26 02:10:00,6679.800000,6679.700000,6680.900000,6676.000000,0.821444,NaN
2602678,2020-03-26 02:11:00,6679.754384,6677.500000,6679.800000,6677.500000,0.693173,NaN

In [13]:
df['label'].value_counts(normalize=True)

0.0    0.900912
2.0    0.049960
1.0    0.049128
Name: label, dtype: float64

In [35]:
df.to_csv('btc_minutes_data_labeled')